.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column; 
    /* justify-content: space-between;
    align-items: center; */
    gap: 20px;
}

.logo img {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    flex-flow: column;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ffcc00; /* Change to your desired hover color */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 4rem;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }